services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    ports:
      - "5442:5432"
